@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@400;700&display=swap');

:root {
  --main-color-dark: #000d17;
  --main-color-bright: #001b30;
  --main-color-third: #140845;
  --main-color-font: #A13421;
}

/*niebieskie tło obraska - */

html, body{
	background-color: var(--main-color-third);
	background-image: url(../../assets/img/backH.png);
	height: 100%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Grenze Gotisch', cursive;
  font-weight: bold;
}

.navbar-custom{
	background-color: var(--main-color-dark) ;
}

.button {
	box-shadow:inset 0px 0px 10px 3px var(--main-color-bright);
	background-color:transparent;
	border-radius:20px;
	border:6px solid var(--main-color-dark);
	display:inline-block;
	cursor:pointer;
	color: var(--main-color-font);
	font-family: 'Grenze Gotisch', cursive;
  font-weight: bold;
	font-size:32px;
	/*font-weight:bold;*/
	padding:13px 50px;
	text-decoration:none;
	text-shadow:-7px 4px 3px var(--main-color-dark);
	transition: 0.5s;
}
.button:hover {
	background-color: var(--main-color-dark);
	transition: 0.5s;
}
.button:active {
	position:relative;
	top:1px;
}

.button-modal-close{
  font-size:20px;
  padding:5px 20px;
}

.button-modal-save{
  font-size:24px;
  padding:5px 20px;

}

.resButton{
	display: none;
}


.modal-content-bg-custom{
  background-color: var(--main-color-bright);
  border-color: var(--main-color-dark);
  border-width: 5px;
  border-radius: 20px;
}

.modal-backdrop {
   background-color: var(--main-color-bright);
}

.modal-title-custom{
  margin-left: 10px;
  font-weight: bold;
  font-size: 25px;
  color: var(--main-color-font);
}

.modal-header-custom{
  border-bottom-color: var(--main-color-dark);
  border-width: 3px;
}

.modal-header-custom-options:hover{
  cursor: pointer;
}



.modal-custom{
  
}

.modal-body-custom{
  border-style: solid;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom-color: var(--main-color-dark);
  border-width: 3px;
  color: var(--main-color-font);
}

.modal-footer-custom{
  
  border-top: hidden;
}

/* The Modal*/
.modal-game {
  cursor: none;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  touch-action: manipulation;
  padding-left: 0px;
  padding-top: 0px;
}


.row-custom-options{
  font-size: calc(100% + 0.5vw + 0.5vh);
}

.btn-custom-info{
  vertical-align: middle;
  text-align: center;
  border-width: 2px;
  border-color: var(--main-color-font);
  display: inline-block;
  color: var(--main-color-font);
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #00000000;
  -webkit-border-radius:.75em;
  -moz-border-radius:.75em;
  border-radius:.75em;
  line-height: 2rem;
}
.btn-custom-info p{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.btn-custom-info:hover{
  background-color: var(--main-color-font);
  
}

.col-custom{
  
}

.custom-control-label::before{
  width:30px; height:30px;
  background-color: var(--main-color-dark);
  border-radius: 100%;
  border-width: 0px;
}

.custom-control-label::after{
  width:30px; height:30px;
  background-color: var(--main-color-dark);
  border-radius: 100%;
  border-width: 0px;
  color: var(--main-color-dark);
}

.custom-control-label input:checked ~ .checkmark {
  background-color: var(--main-color-font);
}

.custom-control-input:checked~.custom-control-label::before {
  color: var(--main-color-dark);
  border-color: var(--main-color-dark);
}

.custom-control-input:checked~.custom-control-label.myColor::before {
  background-color: var(--main-color-dark);
  box-shadow: var(--main-color-bright) 0px 0px 8px; 
  color: var(--main-color-dark);
}

.custom-control-input:active{
  background-color: var(--main-color-dark);
  box-shadow: var(--main-color-bright) 0px 0px 8px; 
  color: var(--main-color-dark);
}

.custom-control-input:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dropdown-item-custom{
  color: var(--main-color-font);
}

.dropdown-item-custom:hover{
  color: var(--main-color-font);
  background-color: var(--main-color-dark);
}
.dropdown-item-custom-info{
  text-align: center;
  color: var(--main-color-font);
}

.dropdown-item-custom-info:hover{
  color: var(--main-color-font);
  background-color: var(--main-color-bright);
}

.section-custom{
  border-bottom-color: var(--main-color-dark); 
  border-bottom-width: 3px;
}

.form-control-custom:disabled{
  color: var(--main-color-font);
  background-color: var(--main-color-dark);
  border-color: var(--main-color-dark); 
  border-width: 3px;
  border-radius: .5em;
  height: 50px;
  -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.form-control-custom:active{
  color: var(--main-color-font);
  background-color: var(--main-color-dark);
  border-color: var(--main-color-dark); 
  border-width: 3px;
  border-radius: .5em;
  height: 50px;
  -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.form-control-custom:valid{
  color: var(--main-color-font);
  background-color: var(--main-color-dark);
  border-color: var(--main-color-dark); 
  border-width: 3px;
  border-radius: .5em;
  height: 50px;
  -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.form-control-custom option{
  border-color: var(--main-color-dark); 
  border-width: 1px;
  color: var(--main-color-font);
  background-color: var(--main-color-bright);
}

.link-custom{
  color: var(--main-color-font);
}

.link-custom:hover{
  color: var(--main-color-dark);
}
.arrow {
  border-color: #F15441FF;
  border: solid;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  opacity: 0%;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  color: #F15441FF;
  opacity: 0%;
}

.modal-body-options{
  /*display: none;*/
  
}

.hint{
  color: var(--main-color-font);
  font-weight: bold;
  font-size:7vmin;
  text-shadow:-7px 4px 3px var(--main-color-dark);
}

.submenu-custom{
  background-color: var(--main-color-bright);
}

.navbar-bottom-custom{
  background-color: transparent;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.iks:hover{
  cursor: not-allowed;
}

.strikeout {
  line-height: 1.5em;
  position: relative;
  max-width: 4.5em;
}

@media only screen and (max-width: 991px) {
  .strikeout {
    max-width: 3.5em;
  }
}
.strikeout::after {
  border-bottom: 0.125em solid;
  content: "";
  left: 0;
  position: absolute; 
  right: 0;
  top: 50%;
}

audio{
  display: none;
}