html, body{
	background-color: #856066;
	background-image: url(../../assets/img/readmeImage.jpg);
	height: 100%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.navbar-custom{
	background-color: #493538 ;
}

.button {
	box-shadow:inset 0px 0px 10px 3px #a6827e;
	background-color:transparent;
	border-radius:20px;
	border:6px solid #493538;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Impact;
	font-size:28px;
	/*font-weight:bold;*/
	padding:13px 73px;
	text-decoration:none;
	text-shadow:-7px 4px 3px #4d3534;
	transition: 0.5s;
}
.button:hover {
	background-color:#493538;
	transition: 0.5s;
}
.button:active {
	position:relative;
	top:1px;
}

.button-modal-close{
  font-size:18px;
  padding:5px 20px;
}

.button-modal-save{
  font-size:24px;
  padding:5px 20px;

}

.resButton{
	display: none;
}


.modal-content-bg-custom{
  background-color: #a6827e;
  border-color: #493538;
  border-width: 5px;
  border-radius: 20px;
}

.modal-backdrop {
   background-color: #a6827e;
}

.modal-title-custom{
  
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.modal-header-custom{
  border-bottom-color: #493538;
  border-width: 3px;
}

.modal-custom{
  
}

.modal-body-custom{
  color: white;
}

.modal-footer-custom{
  border-top-color: #493538;
  border-width: 3px;
}

/* The Modal*/
.modal-game {
  cursor: none;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  touch-action: manipulation;
  padding-left: 0px;
  padding-top: 0px;
}


.row-custom-options{
  
}

.btn-custom-info{
  border-width: 3px;
  border-color: #493538;
  display: inline-block;
  color: #493538;
  font-weight:bold;
  font-size: 1em;
  background-color: #00000000;
  -webkit-border-radius:.75em;
  -moz-border-radius:.75em;
  border-radius:.75em;
}

.btn-custom-info:hover{
  background-color: #00000022;
}

.col-custom{
  margin: auto;
}